@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: PT Sans;
}

html,
body {
  margin: 0 auto;
  padding: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  background-color: #121212;
  overflow: hidden;
}
